.card {
  list-style: none;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  padding: 18.8% 21.38%;
  justify-content: space-between;

  @include vp-1199 {
    padding: 8.2vw 15.3vw;
  }

  &--is-active {
    border-image: $red-blue-to-right 2/ 7px;

    .btn--dark {
      outline: none;
      color: $color-primary;
      background: $red-blue-to-right;
    }
  }

  @include hover-focus {
    border-image: $red-blue-to-right 2/ 7px;
  }

  @include vp-767 {
    padding: 51px 42px;
  }
}

.card h3 {
  margin: 0;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 110.16%;
  margin-bottom: 10px;

  @include vp-767 {
    font-size: 22px;
  }
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 100px;
  text-align: center;

  @include vp-767 {
    margin-bottom: 82px;
  }
}

.card__price {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  max-width: 300px;
}

.card__price span {
  color: #e8e8e8;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.48;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -49%);

  @include vp-767 {
    font-size: 80px;
  }
}

.card__price p {
  color: $color-secondary-accent;
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  opacity: 1;
  z-index: 2;
  width: 100%;

  @include vp-767 {
    font-size: 48px;
  }
}

.card__button.btn--dark {
  outline: 1px solid rgba(16, 38, 84, 0.2);
  padding: 22px;

  @include hover-focus {
    outline: 1px solid $color-primary;
    background: transparent;
    color: $color-primary;
  }

  @include active {
    outline: none;
    color: $color-secondary;
    background: $red-blue-to-right;
  }

  @include vp-767 {
    padding: 22px;
  }
}
