.event__wrapper {
  display: flex;
  padding-top: 120px;
  padding-bottom: 106px;
  position: relative;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 88px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 72px;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(100% + 2px);
      left: -1px;
      height: 13.6vw;
      bottom: 87px;
      background-color: $color-secondary;
    }
  }
}

.event__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    height: 105vw;
  }
}
