.event-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $background-banners;
  color: $color-secondary;
  min-width: 500px;
  width: 500px;
  box-sizing: border-box;
  padding: 85px 78px;
  padding-top: 82px;
  column-gap: 70px;

  @include vp-1199 {
    width: 292px;
    min-width: 292px;
    padding: 51px 45px;
    padding-top: 47px;
    column-gap: 34px;
    row-gap: 10px;
    grid-template-rows: min-content;
  }

  @include vp-767 {
    min-width: 100%;
    width: 100%;
  }
}

.event-text h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  grid-row: 3;
  align-self: start;
  margin-top: -14px;

  @include vp-1199 {
    font-size: 12px;
    padding-top: 0;
    margin: 0;
    margin-top: -18px;
  }

  @include vp-767 {
    margin-top: -10px;
  }
}

.event-text p {
  text-align: center;
  font-family: $ff-AlumniSans;
  font-size: 82px;
  font-weight: 600;
  letter-spacing: 2.46px;
  grid-area: 1 / 1/ 3 / 1;
  padding: 0;
  margin: 0;
  line-height: 78.72px;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: -9px;

  @include vp-1199 {
    display: flex;
    font-size: 48px;
    letter-spacing: 1.44px;
    line-height: 46.08px;
    margin: 0;
    padding-left: 6px;
    width: 100%;
    padding-top: 4px;
  }

  @include vp-767 {}
}

.event-text h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  position: relative;

  @include vp-1199 {
    font-size: 12px;
  }
}

.event-text__date {
  color: $color-secondary;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: start;

  @include vp-1199 {
    align-self: start;
  }
}

.event-text__date p {
  font-family: $ff-RobotoCondensed;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-self: start;
  line-height: 21px;
  position: relative;
  letter-spacing: 0;

  @include vp-1199 {
    font-size: 10px;
    line-height: 14px;
  }
}

.event-text__date h3 {
  grid-row: 1;
  grid-column: 1/-1;
  justify-self: start;
  position: relative;
  align-self: start;
}

.event-text__date span {
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  grid-row: 2;
  justify-self: start;
  grid-column: 1;

  @include vp-1199 {
    font-size: 24px;
  }
}

.event-text__time {
  display: flex;
  flex-direction: column;
  align-items: start;

  @include vp-1199 {
    margin-top: -1px;
  }

  @include vp-767 {
    margin-top: -1px;
  }
}

.event-text__time p {
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  position: relative;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  margin-left: 0;
  letter-spacing: 0.3px;
  font-family: $ff-RobotoCondensed;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: $color-secondary;
    top: 5px;
  }

  @include vp-1199 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.3px;

    &::before {
      top: 2px;
      width: 55px;
    }
  }
}

.event-text__button {
  grid-column: 1/-1;
  grid-row: 4;
  padding: 18px 10px;
  text-decoration: none;
  max-width: 100%;
  align-self: end;

  @include vp-1199 {
    border: 2px solid;
    padding: 7px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    align-self: end;
    justify-content: center;
    row-gap: 10px;
  }

  @include vp-767 {
    padding: 5px;
    max-width: 100%;
    align-self: start;
    padding: 6px 0;
    margin-left: -1px;
    margin-top: 21px;
    padding: 6px 0;
    margin-left: -1px;

    &:hover,
    &:focus {
      @include hover-focus {
        background-color: $color-secondary;
      }
    }
  }
}

.event-text__date-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -18px;
  column-gap: 7px;

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 1px;
    background: $color-secondary;
    top: 2px;
  }

  @include vp-1199 {
    margin-top: -1px;
    column-gap: 4px;
    margin-bottom: -10px;


    &::before {
      width: 100%;
    }
  }
}

.event-text__month {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  width: fit-content;
}
