.event-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 4.3vw;
  background-color: $background-banners;
  color: $color-secondary;
  padding: 85px 79px 73px 78px;
  width: calc(48.3vw - 12vw);
  max-width: 500px;
  box-sizing: border-box;

  @include vp-1199 {
    width: 38vw;
    padding: 45px 45px;
    padding-left: 52px;
  }

  @include vp-767 {
    width: 100%;
    padding: 14vw 13.6vw 11.5vw;
    column-gap: 10.3vw;
    grid-template-rows: 1fr 1fr min-content 1fr;
    max-width: 100%;
  }
}

.event-text h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  margin-bottom: 5px;
  grid-column: 1/3;
  grid-row: 3;

  @include vp-1199 {
    font-size: 12px;
    padding-top: 0;
    margin: 0;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.event-text p {
  text-align: center;
  font-family: $ff-AlumniSans;
  font-size: 82px;
  font-weight: 600;
  letter-spacing: 2.46px;
  grid-area: 1 / 1/ 3 / 1;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  width: 183px;
  line-height: 78.72px;

  @include vp-1199 {
    font-size: 48px;
    letter-spacing: 1.44px;
    line-height: 46.08px;
    width: 100%;
  }

  @include vp-767 {
    padding-left: 2vw;
  }
}

.event-text h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  position: relative;

  @include vp-1199 {
    font-size: 12px;
  }
}

.event-text__date {
  color: $color-secondary;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  max-width: 150px;
}

.event-text__date p {
  font-family: $ff-RobotoCondensed;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-self: start;
  line-height: 21px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 1px;
    background: $color-secondary;
    top: 0;
  }

  @include vp-1199 {
    font-size: 10px;
    line-height: 15px;
  }
}

.event-text__date h3 {
  grid-row: 1;
  grid-column: 1/-1;
  justify-self: start;
  position: relative;
}

.event-text__date span {
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  grid-row: 2;
  justify-self: start;
  grid-column: 1;

  @include vp-1199 {
    font-size: 24px;
  }
}

.event-text__time {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  max-width: 150px;
}

.event-text__time span {
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: $color-secondary;
    top: 0;
  }

  @include vp-1199 {
    font-size: 24px;
  }
}

.event-text__button {
  grid-column: 1/-1;
  grid-row: 4;
  padding: 26px 10px;
  text-decoration: none;
  max-width: 343px;

  @include vp-1199 {
    border: 2px solid;
    padding: 7px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    align-self: start;
    justify-content: center;
  }

  @include vp-767 {
    padding: 5px;
    max-width: 100%;
    align-self: start;

    &:hover,
    &:focus {
      @include hover-focus {
        background-color: $color-secondary;
      }
    }
  }
}
