.faq {
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.faq h2 {
  @include heading;
  text-align: left;
  margin-bottom: 39px;

  @include vp-1199 {
    margin-bottom: 40px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.faq__wrapper {
  display: flex;
  column-gap: 40px;

  @include vp-1199 {
    flex-direction: column;
  }
}

.faq__select-list {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 10px;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
    width: 100%;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-bottom: 29px;
  }
}

.faq__content  {
  flex-grow: 1;
  border-top: 1px solid rgba(28, 51, 116, 0.20);
}

.faq__select-card.btn {
  padding: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: $color-primary;
  outline: 1px solid rgba(16, 38, 84, 0.20);
  outline-offset: -1px;
  border: none;
  text-transform: capitalize;

  @include hover-focus {
      color: $color-secondary;
  }

  @include vp-767 {
    padding: 14px;
    font-size: 16px;
  }
}

.faq__select-card.is-active {
  outline-color: transparent;
  color: $color-secondary;
  background: $red-blue-to-right;
  border: none;
}

