.features-item {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10px;
  }
}

.features-item__text {
  @include vp-767 {
    text-align: center;
  }
}

.features-item__text h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
  line-height: normal;

  @include vp-1199 {
    font-size: 20px;
    margin-bottom: 2px;
  }
}

.features-item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  margin: 0;
}

.features-item__number {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: 1;
  grid-row: 1;

  @include vp-767 {
    text-align: center;
  }
}

.features-item__number p {
  font-size: 71px;
  font-weight: 700;
  background: linear-gradient(142.51deg, #d10a42 0, #0041ca 59.33%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 88%;

  @include vp-1199 {
    font-size: 58px;
  }
}

.features-item__number span {
  color: #2e35ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  background: none;
  background-clip: none;
  -webkit-text-fill-color: #2e35ac;
}

.features-item--main {
  display: flex;
  flex-direction: column;
  background-color: #1c3374;
  grid-column: 2/3;
  grid-row: 1/span 2;
  padding: 63px 34px;
  align-items: center;

  @include vp-1199 {
    min-width: 57.5vw;
    grid-column: 1/-1;
    grid-row: 2;
    justify-self: center;
    padding: 20px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-bottom: 43px;
  }
}

.features-item--main h3 {
  color: $color-secondary;
  font-size: 74px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  line-height: 76%;

  @include vp-1199 {
    font-weight: 700;
    font-size: 74px;
    line-height: 90%;
    margin: 16px 0 5px -5px;
  }

  @include vp-767 {
    margin: 23px 0 -13px -5px;
  }
}

.features-item--main p {
  color: $color-secondary;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 36px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 12px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.features-item--main span {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $color-secondary;
  -webkit-text-fill-color: $color-secondary;
  text-align: center;

  @include vp-1199 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}

.features-item--line {
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  @include vp-1199 {
    border: none;
  }
}

.features-item--bottom {
  align-self: end;

  @include vp-767 {
    align-self: center;
  }
}
