.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 11px;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 160px;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.social__item {
  padding: 0;
  margin: 0;
}

.social__link {
  display: block;
  box-sizing: border-box;
  position: relative;
  color: #030a1a;

  &::before {
    content: "";
    position: relative;
    width: 25px;
    height: 25px;
    background-color: $color-secondary;
    border-radius: 50%;
    display: block;
  }

  @include hover-focus {
    color: $color-secondary;

    &::before {
      background-color: #103aae;
    }
  }

  &:active {
    color: $color-secondary;

    &::before {
      background-color: #102654;
    }
  }

  &:disabled {
    opacity: 0.3;
    background-color: #030a1a;
  }
}

.social__icon {
  position: absolute;
  top: 0;
}
