.swiper.swiper-reviews {
  width: 100%;
  max-width: 720px;
  padding: 37px 80px 50px;

  @include vp-1199 {
    padding: 37px 57px 50px;
  }

  @include vp-767 {
    padding: 40px 27px;
  }
}

.swiper-reviews .swiper-reviews__slide {
  color: $color-secondary;
  background: #1c3374;
  padding: 62px;
  padding-bottom: 50px;
  display: grid;
  width: 100%;
  max-width: 560px;
  min-height: 242px;
  grid-template-columns: minmax(80px, auto) 1fr;
  height: auto;
  column-gap: 27px;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);

  @include vp-1199 {
    max-width: 100%;
  }

  @include vp-767 {
    grid-template-columns: minmax(68px, auto) 1fr;
    padding: 43px 33px;
    padding-bottom: 32px;
    max-width: 100%;
    column-gap: 15px;
    row-gap: 14px;
    width: 98%;
  }
}

.swiper-reviews .swiper-reviews__image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  grid-row: span 2;
  align-self: start;

  @include vp-767 {
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: auto;
    margin-left: 15px;
  }
}

.swiper-reviews .swiper-reviews__image img {
  width: 68px;
}

.swiper-reviews__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.swiper-reviews__slide h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  align-self: end;
  margin-top: -12px;
  margin-bottom: 10px;


  @include vp-1199 {
    line-height: 130%;
  }
}

.swiper-reviews__slide p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  grid-column: 2;

  @include vp-767 {
    grid-row: 2;
    grid-column: 1/-1;
    text-align: center;
  }
}

.swiper-button-next.swiper-reviews__next {
  position: absolute;
  height: 56px;
  width: 56px;
  top: -12px;
  bottom: 0;
  margin: auto;

  &::after {
    content: "";
    position: absolute;
    right: 50%;
    width: 24px;
    height: 24px;
    border: solid $color-primary;
    border-width: 0 1px 1px 0;
    display: inline-block;
    transform: rotate(310deg) translate(25%, 25%);
    color: $color-primary;
  }

  @include hover-focus {
    border: 1px solid $color-primary;
    border-radius: 50%;
  }

  &:active {
    background-color: $color-primary;

    &::after {
      border-color: $color-secondary;
    }
  }

  @include vp-1199 {
    width: 25px;
  }

  @include vp-767 {
    right: -3px;

    &::after {
      width: 16px;
      height: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.swiper-button-prev.swiper-reviews__prev {
  position: absolute;
  height: 56px;
  width: 56px;
  top: -12px;
  bottom: 0;
  margin: auto;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    border: solid $color-primary;
    border-width: 0 1px 1px 0;
    display: inline-block;
    transform: rotate(135deg) translate(25%, 25%);
    color: $color-primary;
  }

  @include vp-1199 {
    width: 25px;
  }

  @include vp-767 {
    left: -3px;

    &::after {
      width: 16px;
      height: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  @include hover-focus {
    border: 1px solid $color-primary;
    border-radius: 50%;
  }

  &:active {
    background-color: $color-primary;

    &::after {
      border-color: $color-secondary;
    }
  }
}
