.tabs {
  background-color: $background-secondary;
  position: relative;
  padding: 118px 0;

  &::before {
    content: "";
    position: absolute;
    width: 321px;
    height: 384px;
    background: url("../img/subscribe-desktop.png") no-repeat center;
    right: 0;
    bottom: -149px;
    z-index: 1;
  }

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 103px;

    &::before {
      bottom: -103px;
    }
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;

    &::before {
      display: none;
    }
  }
}

.tabs__wrapper {
  display: flex;
  flex-direction: column;
}

.tabs h2 {
  @include heading;
  text-align: center;
  margin-bottom: 17px;

  @include vp-1199 {
    margin-left: -13px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.tabs__select-card {
  list-style: none;
  color: rgba(16, 38, 84, 0.5);
  font-size: 20px;
  line-height: 150%;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  user-select: none;
  cursor: pointer;

  @include hover-focus {
    color: $color-primary;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #d10a42;
      bottom: -13px;
    }
  }

  @include vp-1199 {
    letter-spacing: -0.7px;
  }

  @include vp-767 {
    font-size: 16px;
    letter-spacing: 0.3px;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.tabs__item-list {
  margin: 0;
  padding: 0;
}

.tabs__select-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  padding-bottom: 12px;
  margin-bottom: 30px;
  width: 30%;
  justify-content: space-between;
  box-sizing: border-box;
  row-gap: 20px;

  @include vp-1199 {
    width: 43.2vw;
    gap: 1vw;
    margin-bottom: 45px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 33px;
  }
}

.tabs__content {
  @include vp-1199 {
    display: flex;
    justify-content: center;
  }
}

.tabs__card-list {
  margin: 0;
  padding: 0;
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.9%;
  z-index: 2;
  width: 100%;
  align-items: start;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    width: 57.5vw;
    align-self: center;
    gap: 5.2vw;
    align-items: center;
  }

  @include vp-767 {
    width: 90.6vw;
    gap: 11.6vw;
    align-items: center;
  }
}

.tabs__select-card.is-active {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d10a42;
    bottom: -13px;
  }
}
